.card-container {
  margin-left: auto;
  margin-right: auto;
}

.card:not(:last-child) {
  margin-bottom: $default-padding;
}

.card {
  box-shadow: 0px 10px 20px #0000001a;
  border-radius: 20px;
  color: $grey;

  &.selected {
    background-color: #caff83;
  }

  .card-content {
    .is-spaced {
      padding-bottom: 1.25rem;
    }
  }

  .card-background {
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    h3 {
      margin-bottom: 0;
    }
  }

  .is-grouped-right {
    position: relative;  
    bottom: -0.5rem;
  }
  .has-card-actions {
    max-height: 100px;
    padding: 0 0.75rem;
    margin-top: -1rem;
    margin-bottom: 0;
    .columns {
      padding-top: 0.75rem;
      .column {
        padding-top:0;
        padding-bottom:0;
      }
    }
    .card-icons {
      max-height: 20px;
      margin-bottom: 0;
    }
  }
  .field {
    &.is-grouped {
      &.is-grouped-right {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .is-card-carousel {
    min-height: 190px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .card-background-image {
    margin-top: -1.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 160px;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .sidebar {
    padding-top: 2rem;
    padding-bottom: 0.75rem;
    h3 {
      font-weight: 800;
      margin-bottom: 1.25rem;
    }
    .button {
      margin-top: 1.25rem;
    }
  }

  &.card-floating {
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 1rem;
    z-index: 1;

    &.is-mobile {
      .card-content {
        border-radius: 10px!important;
      }
    }

    &.is-narrow {
      margin-top: -40px;
      margin-bottom: 1.5rem;
      padding-bottom: 0.75rem;
      max-width: 375px;
    }

    &.is-centered {
      margin-top: -40px;
      margin-bottom: 1.5rem;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }

    &.is-vcondensed {
      padding-top: 0;
      padding-bottom: 0;
      border-radius: 30px;
      .card-content {
        padding-top: 0.75rem;
        padding-bottom: 0;
      }
    }
  }

  .card-avatar {
    margin-top: -1.5rem;
    margin-left: -1.5rem;
    margin-bottom: -1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 150px;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.has-table {
    .card-content {
      padding: 0;
    }
    .b-table {
      border-radius: $radius-large;
      overflow: hidden;
    }
  }

  &.is-card-widget {
    .card-content {
      padding: $default-padding * .5;
    }
  }

  .card-header {
    border-bottom: 1px solid $base-color-light;
  }

  .card-content {
    &.is-bottom-rounded {
      background-color: white;
      -webkit-border-bottom-right-radius: 20px;
      -webkit-border-bottom-left-radius: 20px;
      -moz-border-radius-bottomright: 20px;
      -moz-border-radius-bottomleft: 20px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    .column {
      &.is-3 {
        padding-bottom: 0;
      }
    }
    h4 {
      font-weight: 800;
    }
    h5 {
      margin-top: 0.75rem;
      margin-bottom: 0.25rem;
    }
    p {
      line-height: 1.25;      
    }
    hr {
      margin-left: $card-content-padding * -1;
      margin-right: $card-content-padding * -1;
    }
  }

  .is-widget-icon {
    .icon {
      width: 5rem;
      height: 5rem;
    }
  }

  .is-widget-label {
    .subtitle {
      color: $grey;
    }
  }
}

@include desktop {
  .card-container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .card {
    border-radius: 20px;
    .card-content {
      > .content {
        min-height: 4rem;
      }
    }

    &.is-narrow {
      .card-content {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.is-centered {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}

@include touch {
  .card {
    border-radius: 0;
    box-shadow: none;
  }
}

@include mobile {
  .card {
    .is-menu-text {
      padding: 0;
    }
  }
}