.lottie-container {
  position: fixed; 
  z-index: 99;
  display: flex;
  align-items: center;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.field-label {
  min-width: 100px;
}
.control.has-icons-left .icon, .control.has-icons-right .icon {
  height: 2.75em;
}
.control.is-loading::after {
  right: 0.85em;
  top: 0.85em;
}
.notification {
  border-radius: 15px;
}
.buttons {
  &.has-border-collapse {
    .button {
      &:not(:first-child) {
        border-left: none;
      }
      &:not(:last-child) {
        border-right: none;
      }
    }
  }
}

.button {
  border-radius: 15px;
  padding: 1.25rem 1rem;
  transition: .6s;
  overflow: hidden;
  &:focus:not(.is-loading){
    outline: 0;
  }
  &:not(.is-loading):before {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(255,255,255,0.75);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px)  skewX(-15deg);
  }
  &:not(.is-loading):after {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(255,255,255,0.25);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }
  &:not(.is-loading):hover {
    filter: hue-rotate(25deg);
    cursor: pointer;
    &:before{
      transform: translateX(300px)  skewX(-15deg);  
      opacity: 0.6;
      transition: .7s;
    }
    &:after{
      transform: translateX(300px) skewX(-15deg);  
      opacity: 1;
      transition: .7s;
    }
  }
  > .svg-icon {
    margin-bottom: -0.33rem;
    margin-left: 0.75rem;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  &.is-large {
    .mdi {
      margin-right: 1rem;
    }
  }
  &.is-circle {
    width: 36px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

button.button:not(.is-small) {
  min-height: 44px;
}

@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) {
    button.button {
      -webkit-padding-before: 8px;
    }
  }
}

.control.has-icons-left .icon, .control.has-icons-right .icon {
  height: 2.75em;
}

.field {
  label {
    position: relative;
    left: 0.75rem;
    top: 0.5rem;
  }
  .help {
    display: block ruby; 
  }
  &.has-check {
    .field-body {
      margin-top: $default-padding * .125;
    }
  }
  .control {
    &.is-bottom-bordered {
      .input {
        box-shadow: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--themecolor);
        border-radius: 0;
      }
    }
    .mdi-24px.mdi-set, .mdi-24px.mdi:before {
      font-size: inherit;
    }
  }
}
.upload {
  .upload-draggable {
    display: block;
  }
}

.input, select {
  background-color: #ebebeb;
  min-height: 44px;
  padding: 1.25rem 1rem;
  box-shadow: none;
  border: 2px solid $info;
  &:focus, &:active {
    box-shadow: none!important;
  }
}
.textarea {
  border-radius: 15px;
  border: 2px solid $info;
  &.is-rows-condensed {
    min-height: 70px;
  }
}

.b-numberinput {
  .input {
    max-width: 40px;
  }
}

.switch input[type=checkbox]+.check:before {
  box-shadow: none;
}

.switch, .b-checkbox.checkbox {
  input[type=checkbox] {
    &:focus + .check, &:focus:checked + .check {
      box-shadow: none!important;
    }
  }
}

.b-checkbox.checkbox input[type=checkbox], .b-radio.radio input[type=radio] {
  &+.check {
    border: $checkbox-border;
  }
}

.pre-wrap {
  white-space: pre-wrap;
}

.is-icon-email {
  color: #34a853;
}
.is-icon-cellphone {
  color: #ee1d52;
}
.is-icon-facebook {
  color: #1877f2;
}
.is-icon-whatsapp {
  color: #25d366;
}
.is-icon-instagram {
  color: #c32aa3;
}
.is-icon-youtube {
  color: #ff0000;
}
.is-icon-medium {
  color: #02b875;
}
.is-icon-twitter {
  color: #1da1f2;
}
.is-icon-vimeo {
  color: #1ab7ea;
}
.is-icon-twitch {
  color: #9146ff;
}