:root {
  --themecolor: #19bbde;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Graphik Bold", sans-serif;
}

.is-rounded {
  border-radius: 1rem!important;
}

.is-font-regular {
  font-family: "Graphik Medium", sans-serif;
}

.is-font-black {
  font-family: "Graphik Medium", sans-serif;
}

.router-link-active {
  opacity: 0.75;
}

.is-size-huge {
  font-size: 5rem;
  line-height: 5rem;
}
.container {
  max-width: 1224px;
}

.is-demo-text {
  width: 100%;
  max-width: 1224px;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #e0eff4;
}

.v-field {
  margin-bottom: 1.5rem;
}

.is-padded-top {
  padding-top: 2rem;
}

.is-logo-small {
  height: 22px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: -5px;
}

.has-margin-auto {
  margin-right: auto;
  margin-left: auto;
}

.has-max-width {
  max-width: 480px;
}

.is-flex-end {
  justify-content: flex-end;
}

.is-flex-center {
  justify-content: center;
  align-items: center;
}

.is-bottom-padded {
  padding-bottom: 2rem;
}

.is-marginless-bottom {
  margin-bottom: 0!important;
}

.is-bottom-extra-padded {
  padding-bottom: 4rem;
}

.is-bottom-extra-extra-padded {
  padding-bottom: 6rem;
}

.is-margin-auto {
  margin: auto;
}

.has-padding-left {
  padding-left: 1.5rem;
}

.has-line-height1 {
  line-height: 1;
}

.has-line-height {
  line-height: 1.25;
}

.is-fixed-icon {
  position: relative;
  top: 3px;
}

.is-share-icons {
  padding-left: 0;
  padding-right: 0;
  .control {
    display: inline-block;
    margin-right: 0.25rem;
    margin-bottom: 0!important;
    padding:0;
    border-radius: 10px;
    &:hover {
      background-color: white;
      box-shadow: 0px 10px 20px #0000001a;
      .mdi {
        color: $light;
      }
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.75rem;
      height: 2.75rem;
      .mdi {        
        font-size: 1.75rem;
      }
    }
  }
}

.is-demo {
  width: 98vw;
  min-height: 580px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(/img/demo-background.jpg);
  .demo-screen-container {
    width: 90vw;
    height: 90vh;
    &:before {
      content: '';
      position: absolute;
      width: calc(90vw - 30px);
      height: calc(90vh - 30px);
      z-index: 9;
      margin: 15px;
      border: 1px solid #fafafa;
      border-radius: 5px;
      box-shadow: 0 0 50px #3333 inset;
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      background-color: rgba(255,255,255,0.25);
      width: 50px;
      height: 70vh;
      left: 50px;
      top: 0;
      filter: blur(5px);
      transform: translateX(100px) skewX(-15deg);
    }
    .demo-screen {
      overflow:hidden;
      height: 100%;
      background-color: #fafafa;
      border: 18px solid #262222;
      border-radius: 20px;
      > div {
        > img {
          width: 100%;
          display: block;
        }
      }
      &.is-hidden-touch {
        > div {
          animation: scroll_desktop 20s linear 1s infinite;
        }
      }
      &.is-hidden-desktop {
        > div {
          animation: scroll_mobile 20s linear 1s infinite;
        }
      }
    }
  }
}

@keyframes scroll_desktop {
  95% {
    transform: translateY(-65%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scroll_mobile {
  95% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.is-figure {
  min-width: 8rem;
  min-height: 8rem;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  &.is-rounded {
    border-radius: 100%;
    border: 10px solid aliceblue;
  }
  &.is-large {
    min-width: 30rem;
    min-height: 30rem;
  }
}

.has-plans-buttons {
  .is-info {
    border-color: white!important;
  }
}

@include mobile {
  .is-share-icons {
    justify-content: center!important;
  }
  .is-figure {
    &.is-large {
      width: 100%;
      min-height: 10rem;
    }
  }
}

@include desktop {
  .is-demo-text {
    padding-top: 7rem;
    margin-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 20px;
  }
  .is-demo {
    .demo-screen-container {
      width: 800px;
      height: 400px;
      &:before {
        width: 770px;
        height: 370px;
      }
      &:after {
        width: 50px;
        height: 420px;
        left: 300px;
      }
    }
  }
}

