.modal-card {
  width: $modal-card-width;
}

.modal-card-foot {
  background-color: $modal-card-foot-background-color;
  &.is-rounded {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;    
  }
}

@include mobile {
  .modal .animation-content .modal-card {
    width: $modal-card-width-mobile;
    margin: 0 auto;
  }
}
