.card:not(:last-child) {
  margin-bottom: $default-padding;
}

.card {
  border-radius: $radius-large;
  border: $card-border;

  &.is-active {
    background-color: $success;
    h1, h3, .mdi {
      color: white!important;
    }
  }
  &.has-table {
    .card-content {
      padding: 0;
    }
    .b-table {
      border-radius: $radius-large;
      overflow: hidden;
    }
  }

  &.is-card-widget {
    .card-content {
      padding: $default-padding * .5;
    }
  }

  .card-header {
    border-bottom: 1px solid $base-color-light;

    .card-header-title {
      .svg-icon {
        display: inherit;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .card-content {
    hr {
      margin-left: $card-content-padding * -1;
      margin-right: $card-content-padding * -1;
    }
  }

  .is-widget-icon {
    .icon {
      width: 5rem;
      height: 5rem;
    }
  }

  .is-widget-label {
    .subtitle {
      color: $grey;
    }
  }
}
