.lottie-container {
  position: fixed; 
  z-index: 99;
  display: flex;
  align-items: center;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.button {
  font-weight: 600;
}
.field-label {
  min-width: 100px;
}
.field {
  .help {
    position: relative;
    left: 0.5rem;
    top: 0;
  }  
  &.has-check {
    .field-body {
      margin-top: $default-padding * .125;
    }
  }
  .control {
    .mdi-24px.mdi-set, .mdi-24px.mdi:before {
      font-size: inherit;
    }
  }
}
.upload {
  .upload-draggable {
    display: block;
  }
}

.input, .textarea, select {
  box-shadow: none;

  &:focus, &:active {
    box-shadow: none!important;
  }
}

.textarea {
  &.is-rows-condensed {
    min-height: 70px;
  }
  &.is-rows-expanded {
    min-height: 280px;
  }
}

.b-numberinput {
  .control {
    margin-bottom: 0!important;
  }
  .input {
    max-width: 60px;
  }
}

.switch input[type=checkbox]+.check:before {
  box-shadow: none;
}

.switch, .b-checkbox.checkbox {
  input[type=checkbox] {
    &:focus + .check, &:focus:checked + .check {
      box-shadow: none!important;
    }
  }
}

.b-checkbox.checkbox input[type=checkbox], .b-radio.radio input[type=radio] {
  &+.check {
    border: $checkbox-border;
  }
}

pre.terms {
  max-height: 200px;
  white-space: pre-wrap;
}

.map {
  width: 100%;
  height: 300px;
}
