:root {
  --themecolor: #fbfbfb;
  --textcolor: #4a4a4a;
}

.content blockquote {
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.is-hpadded {
  padding: 0 1rem;
}

.is-vpadded {
  padding: 1.333rem 0;
}

.is-padded {
  padding: 1.333rem; 
}

.is-vpadded-x3 {
  padding: 3.999rem 0;
}

.is-blured {
  opacity: 0.25!important;
}

.is-vexpanded {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.level-right-padded {
  padding-left: 0.5rem;
}

.has-top-border {
  border-top: 2px solid black;
}

.has-bottom-border {
  border-bottom: 2px solid black;
}

.is-tag-spaced {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}

.is-clickable {
  cursor: pointer;
}

.is-flex-start {
  justify-content: flex-start;
}

.is-flex-center {
  justify-content: center;
}

.is-flex-end {
  justify-content: flex-end;
}


.is-bottom-padded {
  padding-bottom: 2rem;
}

.is-marginless-bottom {
  margin-bottom: 0!important;
}

.is-bottom-extra-padded {
  padding-bottom: 4rem;
}

.is-bottom-extra-extra-padded {
  padding-bottom: 6rem;
}

.is-margin-auto {
  margin: auto;
}

.has-line-height1 {
  line-height: 1;
}

.has-line-height {
  line-height: 1.25;
}

.is-shop-title {
  padding-left: 0.25rem;
  padding-top: 0.75rem;
}

.is-fixed-icon {
  position: relative;
  top: 3px;
}

.is-paddingless-left {
  padding-left: 0!important
}

.is-upload-progress {
  margin-top: 0.5rem;
  margin-left: 0.75rem;
  height: 10px;
  width: 32px;
  border-radius: 5px;
  border: 2px solid #00d1b2;
}

.card-map {
  width: 100%;
  height: 318px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.vue-swatches__trigger {
  border: 2px solid #e2e2e2;
}

.is-photo {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &.is-medium {
    width: 8rem;
    height: 8rem;
  }
  &.is-large {
    width: 15rem;
    height: 15rem;
  }
}

.item-layout {
  display: inline-block;
  width: 320px;
  height: 320px;
  border-radius: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &.portrait {
    background-image: url(/img/placeholder/item-layout-portrait.jpg)
  }
  &.landscape {
    background-image: url(/img/placeholder/item-layout-landscape.jpg)
  }
}


.stock-table {
  .is-started {
    background-color: #ffa63333;
  }
  .is-cancelled {
    background-color: #bbbbbb33;
    * {
      color: #ccc!important;
    }
  }
  .is-delivered {
    background-color: #02b87533;
  }
  .is-archived {
    background-color: #bbbbbb33;
  }
  .is-actions-cell {
    .buttons {
      position: relative;
      top: -4px;
    }
  }
}

.profile-faker {
  position: relative;
  width: 100%;
  height: 200px;
  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 140px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #f8f8f8;
  }
  .logo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 5px solid white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #e2e2e2;      
  }
  .about {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #f8f8f8;
  }
}
