.wizard {
  .profile-faker {
    position: relative;
    width: 100%;
    height: 200px;
    .background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 140px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-color: #f8f8f8;
    }
    .logo {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      padding: 1rem;
      z-index: 1;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      border: 5px solid white;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-color: #e2e2e2;      
    }
  }
}