.is-gallery {
	.box {
		position: relative;
		background-color: #fafafa;
		.photo-container {
			position: relative;
			> .button {
				position: absolute;
				top: 0.5rem;
				right: 0.5rem;
			}
		}		
		.background-image {
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			margin-top: auto;
			margin-bottom: auto;
		}
	}
}

.photo-box {
	position: relative;
	padding-right: 1rem;
	.photo-div {
		min-width: 30rem;
		min-height: 20rem;
		display: inline-block;
		margin: 1rem;
		width: 100%;
		height: 100%;
	}
	> .button {
		position: absolute;
		z-index: 1;
		top: 1.5rem;
		right: 0.5rem;
	}
}