:root {
  --themecolor: #1da1f2;
}

.content blockquote {
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


.is-unloaded {
  opacity: 0.25!important;
}

.is-vexpanded {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.level-right-padded {
  padding-left: 0.5rem;
}

.has-top-border {
  border-top: 2px solid black;
}

.has-bottom-border {
  border-bottom: 2px solid black;
}

.is-tag-spaced {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}

.is-clickable {
  cursor: pointer;
}

.is-flex-center {
  justify-content: center;
}

.is-flex-end {
  justify-content: flex-end;
}


.is-bottom-padded {
  padding-bottom: 2rem;
}

.is-marginless-bottom {
  margin-bottom: 0!important;
}

.is-bottom-extra-padded {
  padding-bottom: 4rem;
}

.is-bottom-extra-extra-padded {
  padding-bottom: 6rem;
}

.is-margin-auto {
  margin: auto;
}

.is-line-height1 {
  line-height: 1;
}

.has-line-height {
  line-height: 1.25;
}

.is-fixed-icon {
  position: relative;
  top: 3px;
}

.filepicker-background {
  display: inline-block;
  width: 100%;
  min-height: 200px;
  background-color: grey;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 1.25rem;
}

.card-map {
  width: 100%;
  height: 318px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.filepicker-background-avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: grey;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 100px;
}

.is-avatar {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: grey;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 35px;
  margin-right: 0.75rem;
}

.is-hpadded {
  padding: 0 1rem;
}

.is-vpadded {
  padding: 1.333rem 0;
}

.is-padded {
  padding: 1.333rem; 
}

.is-feature-figure {
  width: 6rem;
  height: 6rem;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.is-upload-progress {
  margin-top: 0.5rem;
  margin-left: 0.75rem;
  height: 10px;
  width: 32px;
  border-radius: 5px;
  border: 2px solid #00d1b2;
}


.is-photo {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &.is-medium {
    width: 8rem;
    height: 8rem;
  }
  &.is-large {
    width: 15rem;
    height: 15rem;
  }
}