section.section.is-main-section {
  padding-top: $default-padding;
}

@include desktop {
	section.section.is-body-centered {
		margin-left: -14rem;
	}
}

@include mobile {
	section.section.is-main-section {
		padding-left: 0.75rem;
	}
}

.is-vexpanded {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.level-right-padded {
  padding-left: 0.5rem;
}

.has-top-border {
  border-top: 2px solid black;
}

.has-bottom-border {
  border-bottom: 2px solid black;
}

.is-tag-spaced {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}

.is-clickable {
  cursor: pointer;
}

.is-flex-center {
  justify-content: center;
}

.is-flex-end {
  justify-content: flex-end;
}
