.ycbox {
  .splide-box-container {
    padding-top: 1rem;
    .splide {
      position: relative;
      z-index: 1;
      margin-left: auto;
      margin-right: auto;
      .splide__slide {
        opacity: 0.1;
        transition: opacity 0.5s linear;
        &.is-active {
          opacity: 1;
        }
      }
      .splide-image-container {
        .splide-image {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          width: 100%;
          background-color: rgba(0,0,0,0.25);
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: cover;
          > .tag {
            margin-left: 0.25rem;
            margin-right: 0.25rem;
          }
          > h4 {
            margin-top: 0.5rem;
            margin-bottom: 0.25rem!important;
            font-weight: 800;
            text-shadow: 0 0 3px #000e;
          }
          > p {
            line-height: 1;
            text-shadow: 0 0 3px #000e;
          }
        }
      }
    }
  }
}

@include tablet {
  .ycbox {
    .splide-box-container {
      .splide {
        .splide__arrow--next {
          right: 32vw;
          top: 47%;
        }
        .splide__arrow--prev {
          left: 32vw;
          top: 47%;
        }
        .splide__arrow {
          fill: #333333;
        }
        .splide__arrow:hover {
          fill: #33333366;
        }
        .splide-image-container {
          .splide-image {
            height: 10rem;
            box-shadow: 0px 5px 10px #00000033;
            border-radius: 20px;
            padding-top: 1rem;
          }
        }
      }
    }
  }
}

@include mobile {
  .ycbox {
    .splide-box-container {
      padding-top: 0;
      .splide {
        .splide__arrow {
          fill: #ffffff;
        }
        .splide__arrow:hover {
          fill: #ffffff66;
        }
        .splide-image-container {
          .splide-image {
            height: 12rem;
            padding-top: 1rem;
            > h3 {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
}