::-webkit-input-placeholder {
  font-weight: 400;
}
:-moz-placeholder {
  font-weight: 400;
}
::-moz-placeholder {
  font-weight: 400;
}
:-ms-input-placeholder {
  font-weight: 400;
}
::-ms-input-placeholder {
  font-weight: 400;
}
::placeholder {
  font-weight: 400;
}

.modal-background {
  background-color: white;
}

.has-margin-bottom-1 {
  margin-bottom: 1rem;
}

.has-margin-bottom-75 {
  margin-bottom: 0.75rem;
}

.has-margin-bottom-25 {
  margin-bottom: 0.25rem;
}

.has-margin-bottom-5 {
  margin-bottom: 0.5rem;
}

.has-padding-top-1 {
  padding-top: 1rem;
}

.has-padding-bottom {
  padding-bottom: 1.5rem;
}

.has-padding-extra-bottom {
  padding-bottom: 5.5rem;
}

.has-padding-bottom-05 {
  padding-bottom: 0.5rem;
}

.is-marginless-bottom {
  margin-bottom: -0.75rem!important;
}

.is-main-title {
  line-height: 1.25!important;
}

.is-margin-top {
  margin-top: 1.5rem;
}

.is-margin-top3 {
  margin-top: 3rem;
}

.is-position-bottom-right {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.is-transparent {
  opacity: 0;
}

.is-clickable {
  cursor: pointer;
}

.is-bottom-dotted {
  border-bottom: 4px solid #e2e2e2;
}

.sidebar-main-title {
  padding-top: 1.75rem;
  h3 {
    font-weight: 800;  
  }
}

.sidebar-title {
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
  h3 {
    font-weight: 800;  
  }
}

.is-user-avatar {
  &.has-max-width {
    max-width: $size-base * 7;
  }

  &.is-aligned-center {
    margin: 0 auto;
  }

  img {
    margin: 0 auto;
    border-radius: $radius-rounded;
  }
}

.has-margin-left-auto {
  margin-left: auto;
}

.has-text-weight-extra-bold {
  font-weight: 800!important;
}

.dropdown.is-mobile-modal > .dropdown-menu {
  z-index: 100;
}

.dropdown .background {
 z-index: 99; 
}

.icon.has-update-mark {
  position: relative;

  &:after {
    content: '';
    width: $icon-update-mark-size;
    height: $icon-update-mark-size;
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: $icon-update-mark-color;
    border-radius: $radius-rounded;
  }
}

.dropdown-container {
  position: relative;
  top: -5px;
  margin-bottom: 15px;
}

.vdp-datepicker__calendar {
  border: none!important;
  box-shadow: 0px 10px 20px #0000001a;
  border-radius: 10px;
  header {
    line-height: 60px;
    span {
      font-weight: 800;
    }
  }
}

.autocomplete {
  .control {
    .input {
      &::placeholder {
        color: #666;
      }
    }
  }
}

