/* spinner */

#loading {
  display: flex;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: transparent;
}

.spinner-container {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  z-index: 3;
  width:36px; height:36px;
  margin: 36px auto;
}

.spinner-container .path {
  stroke-dasharray: 1,150; /* 1%, 101% circumference */
  stroke-dashoffset: 0;
  stroke: var(--textcolor);
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes rotate{
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,150;  /* 1%, 101% circumference */
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -35;   /* 25% circumference */
  }
  100% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -124;  /* -99% circumference */
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,150;  /* 1%, 101% circumference */
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -35;   /* 25% circumference */
  }
  100% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -124;  /* -99% circumference */
  }
}
