@font-face {
  font-family: 'Graphik Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Graphik Bold'), url("https://cdn.geotiendas.com/fonts/graphik/GraphikBold.otf") format("opentype");
}

@font-face {
  font-family: 'Graphik SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Graphik SemiBold'), url("https://cdn.geotiendas.com/fonts/graphik/GraphikSemibold.otf") format("opentype");
}

@font-face {
  font-family: 'Graphik Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Graphik Medium'), url("https://cdn.geotiendas.com/fonts/graphik/GraphikMedium.otf") format("opentype");
}

@font-face {
  font-family: 'Graphik Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Graphik Regular'), url("https://cdn.geotiendas.com/fonts/graphik/GraphikRegular.otf") format("opentype");
}
